.appHeader {
	background: rgb(0, 0, 0);
	background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(20, 110, 181, 1) 70%, rgba(118, 216, 159, 1) 100%);
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: white;
}

.headerWrapper {
	margin: 2.5rem 2rem;
}

.titleNavigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-size: 2rem;
	font-weight: 800;
}

.navigation {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.navigationButton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.headerContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2rem;
	align-items: start;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2rem;
}

.contentTitle {
	font-size: 1.8rem;
	font-weight: 400;
	padding-bottom: 1rem;
}

.contentText {
	font-size: 1rem;
	font-weight: 100;
}

.videoWrapper {
	background-color: black;
	min-width: 20rem;
	min-height: 10rem;
	align-self: normal;
}

.contentWrapper {
	margin: 2.5rem 4rem;
}

.listTitle {
	font-size: 1.3rem;
	font-weight: 400;
	text-decoration: underline;
	color: black;
	margin-bottom: 1.5rem;
}

.listItem {
	text-transform: capitalize;
}

@media only screen and (min-width: 700px) {
	.headerWrapper {
		margin: 2.5rem 4rem;
	}

	.titleNavigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.textWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 40vw;
	}

	.headerContent {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 2rem;
	}

	.videoWrapper {
		min-width: 40rem;
		min-height: 20rem;
	}
}
